nav {
    background-color: #1d841d;

    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    color: #d86e10;
    font-family: "Akaya Kanadaka", system-ui;
    margin-left: 5%;
    font-size: 3em;
}
nav ul {
    float: right;
    margin-right: 5%;

    list-style-type: none;
    padding: 0;

    display: flex;
    align-items: center;
}
nav li:hover {
    border-radius: 10px;

    transition: background-color 0.3s;
    background-color: #d86e10;
}
nav a {
    padding: 20px;

    font-size: 1.4em;
    color: white;
    text-decoration: none;
}